{% extends 'base.html' %}

{% block content %}
<div class="container login-container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Log in</button>
    </form>
</div>
{% endblock %}