
/*
 * Sidebar
 */

.logo-indahliving {
    background-color: white;
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  /*padding-top: .5rem;*/
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sub-list-item {
    margin: 10px 0px;
}

.sub-list-item li {
    padding: 5px 0;
}

main {
    padding-top: 0px;
    height: 512px;
    position: relative;
    top: 10px;
}

.sidebar-admin {
    border-right: 1px solid #dee2e6;
    height: 100%;
    position: fixed;
    padding-right: 0;
    background-color: #dee2e6;
}

.logo-company {
    height: 100px;
}
.list-group-item > a {
    color: black;
}
.list-group-item > a:hover {
    color: #6c757d;
    text-decoration: none;
}

.content-admin {
    position: relative;
    left: 25%;
}

.add-btn {
    margin: 20px -15px;
}

.add-btn > a {
    margin-right: 10px;
}

.btn-table {
    cursor: pointer;
    border: 1px solid #6c757d;
    border-radius: 2px;
}

.btn-table:hover {
    background-color: #6c757d;
    border-radius: 2px;
}