
.submenu .submenu-item {
    color: white;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.submenu .submenu-item:hover {
    /*padding-top: 6px;*/
    /*padding-bottom: 6px;*/
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    border: 1px solid #00649f;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #000;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.top-bar {
    line-height: 2.5;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
}

#searchsubmit {
    position: absolute;
    /*right: 0;*/
    top: 0;
    width: 40px;
    border: none;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    text-align: center;
    color: #777;
    margin: 0;
}
#searchsubmit::after {
    content: "\e090";
    font-size: 18px;
    font-weight: 700;
    font-family: simple-line-icons;
    display: inline-block;
    line-height: 40px;
}

.bar-auth {
    text-align: right;
}
.top-bar .bar-auth > a {
    text-decoration: none;
    color: black;
    transition-delay: .1s;
    transition-duration: .3s;
}
.top-bar .bar-auth > a:first-child {
    margin-right: 15px;
}
.top-bar .bar-auth > a > span {
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.top-bar .col > a:hover {
    color: #808080;
}

.site-logo img {
    height: 80px;
    padding: 10px 0;
}

.logo-bar {
    line-height: 5;
}

.sticky-bar {
    position: relative;
    top: 0;
    z-index: 2;
    background-color: white;
    line-height: 2.5;
    border-bottom: 1px solid #f2f2f2;
}

.sticky-bar .navbar-menu {
    list-style: none;
    margin: auto;
    padding: 0;
}

.sticky-bar .navbar-menu > li {
    float: left;
}

.sticky-bar .navbar-menu > li.active > a{
    color: #6c757d;
    font-weight: 600;
}

.sticky-bar .navbar-menu > li > a {
    padding: 10px 15px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: .7s;
}

.sticky-bar .navbar-menu > li > a:hover {
    color: #6c757d;
    font-weight: 600;
}

.wrapper-wide .login-container {
    max-width: 540px;
    margin: 40px auto;
}

.login-container > form > p {
    width: 100%;
    display: grid;
}

.login-container > form > p > input {
    padding: 6px 12px;
    color: #8c8c8c;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.login-container > form > button {
    cursor: pointer;
    background-color: #595959;
    color: white;
    border: 0;
    padding: 6px 12px;
}

.login-container > form > button:hover {
    background-color: black;
}

.custom-jumbotron {
    height: 600px;
    position: relative;
    padding: 0;
    margin-bottom:  0;
    -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: mymove;
    animation-duration: 1s;
}
.carousel, .carousel-inner {
    height: 100%;
}
.product-carousel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.carousel-caption > h3 {
    text-shadow: 0 0 7px #434343;
}
.carousel-caption > h4 {
    text-shadow: 0 0 7px #434343;
}

.banner-section {
    margin-top: 0;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-color: #434343;
}

.designer-section {
    max-width: 950px;
    margin: 0 auto;
}

.designer-column {
    margin-bottom: 60px;
    padding: 0 5%;
}

.thumb-designers {
    width: 215px;
    margin: 0 auto;
}

.thumb-designers p img {
    width: 100%;
    max-width: 100%;
    height: 287px;
}

.thumb-designers p.designer-info {
    font-size: 13px;
    word-break: break-word;
}

@media (min-width: 1200px) {
    .wrapper-wide .container {
        max-width: 1600px;
        width: 92%;
    }
    .wrapper-wide .login-container{
        max-width: 540px;
        width: 92%;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {right: 10vw;}
  to {right: 0px;}
}

@keyframes mymove {
  from {right: 10vw;}
  to {right: 0px;}
}

footer {
    background-color: #00649f;
    color: white;
}

.footer-widget .widget-title {
    margin-bottom: 20px;
}

.footer-widget .widget-title::before {
    content: "";
    position: absolute;
    top: 25px;
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #dee2e6;
}

.footer-body {
    padding-top: 40px;
}
.footer-body > .col > h2 {
    color: #9c9c94;
}

.item-address {
    position: absolute;
    font-size: 12px;
    top: -5px;
    left: 20px;
    text-transform: none;
}

.indahliving-copyright .row p a {
    color: white;
}
.indahliving-copyright .row p:hover {
    color: white;
}