body {
    font-family: Helvetica;
}

button {
    cursor: pointer;
}

form input {
    width: 80%;
    border: 1px solid rgba(129,129,129,.25);
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px;
    transition: border-color .5s;
    box-shadow: none;
    border-radius: 0;
    height: auto;
}

ul li a {
    display: inline-block;
    /*padding-top: 6px;*/
    /*padding-bottom: 6px;*/
    color: #3C3C3C;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .3px;
    text-decoration: none;
    text-transform: uppercase;
}

ul li:hover a {
    color: inherit;
    text-decoration: none;
}

[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.list-item {
    text-align: left;
}

.list-item .fa {
    float: right;
    margin-top: 6px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.wrap-highlight {
    margin-bottom: 50px;
}

.highlight-thumbnail a {
    height: 100%;
    display: block;
    background-position: center center;
    background-size: cover;
}

.section-title-separator {
    border-bottom: 1px solid #dcdcdc;
    color: #dcdcdc;
    max-width: 64px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 20px !important;
}

.separator-x {
    background-color: #FFFFFF;
    padding: 0 5px;
    position: absolute;
    top: -12px;
    left: 22px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
}
.owl-nav button:focus {
    outline: none;
}

.owl-nav .owl-prev {
    opacity: 1;
    left: -55px;
}
.owl-nav .owl-prev::before {
    display: block;
    content: "\e605";
    font-family: simple-line-icons;
    width: 55px;
    font-size: 36px;
    height: 55px;
    line-height: 55px;
}
.owl-nav .owl-next {
    opacity: 1;
    right: -55px;
}
.owl-nav .owl-next::before {
    display: block;
    content: "\e606";
    font-family: simple-line-icons;
    width: 55px;
    font-size: 36px;
    height: 55px;
    line-height: 55px;
}

.dropdown-content {
    position: absolute;
    top: 80%;
    width: 180px;
    background-color: white;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    visibility: hidden;
    -webkit-transition: all .25s ease .1s;
    -moz-transition: all .25s ease .1s;
    -o-transition: all .25s ease .1s;
    transition: all .25s ease .1s;
}

.dropdown-content ul {
    list-style: none;
    padding: 0 20px;
}

.dropdown-content ul li {
    margin-left: 0;
    position: relative;
    -webkit-transition: margin-left .25s ease .1s;
    -moz-transition: margin-left .25s ease .1s;
    -o-transition: margin-left .25s ease .1s;
    transition: margin-left .25s ease .1s;
}

.dropdown-content ul li:hover {
    margin-left: 5px;
}

.dropdown-content ul .dropdown-submenu-item::after {
    content: "\f105";
    position: absolute;
    color: #bbb;
    right: 14px;
    top: 50%;
    margin-top: -8px;
    line-height: 14px;
    font-family: FontAwesome;
}

.dropbtn:hover .dropdown-content {
    visibility: visible;
    top: 70%;
}

.submenu-item-dropdown {
    position: absolute;
    width: 150px;
    left: 90%;
    top: 10%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    visibility: hidden;
    -webkit-transition: all .25s ease .1s;
    -moz-transition: all .25s ease .1s;
    -o-transition: all .25s ease .1s;
    transition: all .25s ease .1s;
}

.dropdown-content ul .dropdown-submenu-item:hover .submenu-item-dropdown {
    visibility: visible;
    left: 100%;
    background-color: white;
}

@media (min-width: 1024px) {
    .navtop {
        margin-right: 7vw;
    }
}