.wrapper-about {
    padding: 11vh 0;
}
.indahliving-about-section .about-content {
    background-color: #FFFFFF;
    text-align: center;
    border: 4px solid #efefef;
    padding: 30px;
    width: 64%;
    margin: 0 auto;
}
.btn.black {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 10px;
}
.btn.black:focus {
    box-shadow: unset;
}
.btn.black:hover {
    text-decoration: none;
    border-color: #3E3E3E;
}