.secondary-menu {
    padding: 13px;
    background-color: black;
}

.secondary-menu .row{
    margin: 0;
}

.secondary-menu .row .list-inline {
    margin-bottom: 0;
}

.list-thumbnail {
    margin-top: 100px;
}

.item-thumbnail {
    margin-bottom: 100px;
}

.item-thumbnail a img {
    width: 100%;
    height: 37vw;
}

.item-thumbnail h3 {
    text-align: center;
}

.tab-search {
    padding: 0px 10px 10px 10px;
}

.tab-search > form {
    width: 100%;
    display: flex;
}

.tab-search > form > input {
    width: 90%;
    border: 2px solid #e6e6e6;
    padding: 10px;
}

.tab-search > form > input:focus {
    outline: none;
}

.tab-search > form > button {
    width: 10%;
    border: none;
    cursor: pointer;
}

.product-categories > .categories-title {
    padding: 15px;
    background-color: #8c8c8c;
}

.categories-title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 20px !important;
}

.categories-title a {
    color: #1B1919;
    text-decoration: none;
}

.categories-title a:hover {
    color: inherit;
    text-decoration: none;
}

.product-categories > ul > li > a {
    color: black;
    font-weight: 600;
}

.product-categories > ul > li > a:hover {
    text-decoration: none;
    color: #6c757d;
}

#listBrands {
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
#listBrands > li > a {
    color: #8c8c8c;
    text-decoration: none;
}
#listBrands > li:hover a {
    color: black;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.product-list > .product-item {
    border: 1px solid #e6e6e6;
    height: 320px;
    padding: 0;
    margin-right: .5vw;
    margin-bottom: 20px;
    max-width: 32%;
    overflow: hidden;
}
.product-item-name {
    color: black;
}

.product-item-frame {
    width: 100%;
    height: 80%;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.product-item-name {
    height: 20%;
    padding: 10px;
}

.product-item:hover a {
    color: black;
    text-decoration: none;
}

.product-item:hover .product-item-frame{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.7;
}

.product-item:hover .product-item-name {
    position: relative;
    background-color: #cccccc;
    opacity: 0.5;
    top: 5px;
    transition: .8s ease;
    transform: translate(0%, 20px);
    -ms-transform: translate(0%, 20%);
}

.product-details > div > img {
    width: 100%;
}
.product-details > div > h5 {
    display: table-row;
}

.pagination {
    margin-top: 20px;
}
.pagination > .active > a{
    cursor: default;
    color: white;
    background-color: #434343;
    border: 1px solid #434343;
    border-radius: 4px;
    padding: 5px 15px;
    margin-left: 2px;
}
.pagination > li:first-child > a {
    margin-left: 0;
    color: white;
    background-color: black;
}
.pagination > li:last-child > a {
    color: white;
    background-color: black;
}
.pagination > li:hover a{
    text-decoration: none;
    color: white !important;
    background-color: #434343;
}
.pagination > li:last-child:hover a{
    color: white;
    background-color: #434343;
}
.pagination > .disabled > a {
    background-color: #808080 !important;
    border-color: #808080;
    cursor: not-allowed;
    border-radius: 4px;
    padding: 5px 15px;
    margin-left: 2px;
}
.pagination > .disabled:hover a{
    background-color: #808080;
}
.pagination > li > a {
    color: black;
    border: 1px solid #434343;
    border-radius: 4px;
    padding: 5px 15px;
    margin-left: 2px;
    font-size: 18px;
    font-weight: 600;
}

.products-nav > a {
    color: black;
}
.products-nav:hover a {
    color: #6c757d;
    text-decoration: none;
}