.story-list {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -15px;
}

.story-tag > h1 {
    color: #595959;
    font-size: 48px;
    font-weight: normal;
    cursor: default;
}
.story-thumb > a > img {
    width: 100%;
    height: 220px;
}
.story-thumb > a > .story-title {
    margin-top: 10px;
    padding: 0;
}
.story-thumb > a > .story-title > medium {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.story-thumb:hover a {
    text-decoration: none;
}
.story-created {
    cursor: default;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.gallery > div {
    height: 400px;
}

.gallery > div > img {
    width: 100%;
    height: 400px;
}