{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="banner-section"></div>
    <br><br>
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="section-subtitle">OUR DESIGNERS</h3>
        </div>
        <br>
        <div class="section-title-separator">
            <div class="separator-x">X</div>
        </div>
        <br>
        <div class="row justify-content-center">
            <p class="align-center">Meet our designers, the colourful personalities from Indahliving.</p>
        </div>
        <br><br>
    </div>
    <div class="container">
        <div class="row designer-section">
            {% for designer in designers %}
                <div class="col-sm-4 designer-column">
                    <div class="thumb-designers">
                        <p>
                            <img class="designer-images" src="{{ designer.image.url }}" alt="{{ designer.name }}">
                        </p>
                        <h3 class="designer-name">{{ designer.name }}</h3>
                        <p class="designer-info">{{ designer.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}