{% extends 'base.html' %}
{% block content%}
    <div class="banner-section" {% if company.image_header %} style="background-image: url('{{ company.image_header.url }}')" {% endif %}></div>
    <br><br>
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="section-subtitle">ABOUT COMPANY</h3>
        </div>
        <br>
        <div class="section-title-separator">
            <div class="separator-x">X</div>
        </div>
        <br>
        <div class="row justify-content-center">
            <p class="align-center"></p>
        </div>
        <br><br>
    </div>
    <div class="container">
         <div class="row justify-content-start">
            {{ company.text|safe }}
        </div>
    </div>
    <br><br>
{% endblock %}