{% extends 'base.html' %}
{% block content%}
    <div class="banner-section" style="background-image: url('{{ commitment.image_header.url }}')"></div>
    <br><br>
    <div class="container">
        <div class="row justify-content-start">
            {{ commitment.text|safe }}
        </div>
    </div>
    <br>
    <div class="banner-section" {% if commitment.image_footer %} style="background-image: url('{{ commitment.image_footer.url }}')" {% endif %}></div>
    <br>
    <div class="container">
        <div class="row justify-content-start">
            {{ commitment.footer_text }}
        </div>
    </div>
    <br><br>
{% endblock %}