{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Indahliving</title>
    <link rel="stylesheet" href="{% static 'assets/styles/owl/owl.carousel.min.css' %}" >
    <link rel="stylesheet" href="{% static 'assets/styles/owl/owl.theme.default.css' %}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="{% static 'assets/styles/common.css' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/config.css' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/product.css' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/stories.css' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/home.css' %}">

</head>
<body>
    {% include 'header.html' %}

    <main class="wrapper-wide">
        {% if 'products' in request.path %}
            <div class="secondary-menu">
                <div class="row justify-content-center">
                    <ul class="list-inline">
                        {% for category in product_categories %}
                            <li class="list-inline-item submenu">
                                <a class="submenu-item" href={% url 'product_category' category.lower %}>
                                    {{ category }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if category_name %}
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <h3 class="section-subtitle">{{ category_name.upper }}</h3>
                </div>
                <br>
                <div class="section-title-separator">
                    <div class="separator-x">X</div>
                </div>
                <br>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>

    <!-- SCRIPT -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'assets/script/owl.carousel.min.js' %}"></script>
    <script>
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 120) {
                $('.sticky-bar')[0].style.position = 'sticky';
                $('.sticky-bar')[0].style.boxShadow = '0 1px 5px #cccccc';
                $('#return-to-top').fadeIn(200);
            } else {
                $('.sticky-bar')[0].style.position = 'relative';
                $('.sticky-bar')[0].style.boxShadow = 'unset';
                $('#return-to-top').fadeOut(200);
            }
        });
        $('#return-to-top').click(function() {
            $('body,html').animate({
                scrollTop : 0
            }, 1000);
        });

        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                items: 4,
                margin: 10,
                dots: false,
                autoplay: false,
                autoplayTimeout: 5000,
                slideBy: 'page',
                nav: true,
                navText: false
            });
        });
    </script>
</body>
</html>