{% extends 'base.html' %}
{% block content %}
    <div class="wrapper-wide">
        <div class="container">
            <div class="row list-thumbnail">
                {% for category in categories %}
                    <div class="col-4 item-thumbnail">
                        <a href={% url 'product_category' category.name.lower %}>
                            {% if category.image %}
                                <img border="0" alt="{{ category.name }}" src="{{ category.image.url }}">
                            {% else %}
                                <img style="box-shadow: 0 0 2px rgba(0,0,0,.1);" alt="no-images" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/No_image_available_450_x_600.svg/360px-No_image_available_450_x_600.svg.png">
                            {% endif %}
                        </a>
                        <h3 class="categories-title">
                            <a href={% url 'product_category' category.name.lower %}>{{ category.name }}</a>
                        </h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}