{% extends 'cms/index.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 30%; width: 500px; margin-left: auto; margin-right: auto; text-align: center;">
            <p>
                "Indah Living is committed to produce High Quality, Environmentally
                Friendly products that will help Sustain the Environment. We conduct our
                 business in a Socially Responsible and Ethical manner that embraces
                Culture and Creativity. We strive to be internationally recognized for
                our Quality of Service. "
            </p>
        </div>
    </div>
{#    <h1> THIS IS ADMIN PAGE </h1>#}
{#    <a href="{% url 'add_product' %}">ADD PRODUCT</a>#}
{#    <br>#}
{#    <a href="{% url 'add_story' %}">ADD STORY</a>#}
{#    <br>#}
{#    <a href="{% url 'brand_index' %}">ADD BRAND</a>#}
{% endblock %}