{% extends 'base.html' %}
{% block content%}
    <div id="googleMap" style="width:100%;height:600px;"></div>
    <div class="container" >
        <div class="row" style="position: absolute;top: 25%;left: 10%;background-color: black">
            <div class="col-12" style="padding: 50px 40px;padding-right:110px;color: white">
                <div class="wpb_wrapper">
                    <h3 class="contact-us-title">Contact Us</h3>
                    <div class="contact-us-detail">
                        <p><span class="vc_icon_element-icon icon-envelope icons">&nbsp;</span>T +65 97878469 / +65 81312404</p>
                        <p>Email sales@indahliving.com</p>
                    </div>
                    <div class="contact-us-detail">
                        <p><span class="vc_icon_element-icon icon-cursor icons">&nbsp;</span>10 Raeburn Park, #02-08,</p>
                        <p>Singapore 088702</p>
                    </div>
                    <p><font color="#FFF">By appointment only.</font></p>
                </div>
            </div>
        </div>
	</div>
</div>
            </div>
        </div>
    </div>

    <script>
        function myMap() {
            var mapProp= {
                center:new google.maps.LatLng(1.2734309,103.833400),
                zoom: 17,
                mapTypeControl: false,
                streetViewControl: false,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
            var marker = new google.maps.Marker({position: {lat:1.2734309, lng:103.833400}, map: map});
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYEnw3NrVXvHl5PkRUbkqykJO06yjkIiA&callback=myMap"></script>
{% endblock %}