{% load static %}

    <footer class="wrapper-wide">
        <div class="container">
            <br>
            <div class="row justify-content-center">
                <img src="{% static 'assets/images/logo_bottom.jpg' %}" alt="Indahliving" height="120">
            </div>
            <br><br>
            <div class="row">
                <div class="col-4 footer-widget submenu">
                    <h5 class="widget-title">Products</h5>
                    <ul class="list-group">
                        {% for category in product_categories %}
                            <li class="list-inline-item submenu">
                                <a class="submenu-item" href={% url 'product_category' category %}>
                                    {{ category }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-4 footer-widget submenu">
                    <h5 class="widget-title">Informations</h5>
                    <ul class="list-group">
                        <li class="list-inline-item submenu">
                            <a class="submenu-item" href="{% url 'about_company' %}">indahliving</a>
                        </li>
                        <li class="list-inline-item submenu">
                            <a class="submenu-item" href="{% url 'about_commitment' %}">our commitment</a>
                        </li>
                        <li class="list-inline-item submenu">
                            <a class="submenu-item" href="{% url 'about_designer' %}">our designers</a>
                        </li>
                        <li class="list-inline-item submenu">
                            <a class="submenu-item" href="{% url 'about_us' %}">contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 footer-widget">
                    <h5 class="widget-title">Indahliving</h5>
                    <ul class="list-group">
                        <li class="list-inline-item submenu" style="position:relative;">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a class="submenu-item item-address" href="https://maps.google.com/maps?ll=1.273468,103.833443&z=21&t=m&hl=en-US&gl=US&mapclient=apiv3&cid=15695286114887387250"
                               rel="noopener" target="_blank">Indahliving<br>10 Raeburn Park, #02-08,<br>Singapore 088702
                            </a>
                        </li>
                        <br>
                        <li class="list-inline-item submenu" style="position:relative;margin-top: 30px">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <a class="submenu-item item-address" href="#">T +65 97878469 / +65 81312404</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="indahliving-copyright container-fluid">
            <div class="row justify-content-center">
                <p>© 2019 <a href="https://www.indahliving.com/">Indahliving</a>. All rights reserved</p>
            </div>
        </div>
    </footer>