{% load static %}

    <div class="top-bar wrapper-wide">
        <div class="container">
            <div class="row justify-content-end navtop">
                <form type="get" action="{% url 'search' %}">
                    <input type="search" id="q" name="q" placeholder="Enter search key ..."/>
                    <button id="searchsubmit" type="submit" >Search</button>
                </form>
            </div>
        </div>
    </div>
    <header class="sticky-bar">
        <nav class="wrapper-wide navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a href="/" rel="home">
                    <img height="60px" src="{% static 'assets/images/logo_top.jpg' %}" alt="indahliving"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navtop" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropbtn">
                            <a class="nav-link" href="{% url 'product_index' %}">Products</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li>
                                        <a href="{% url 'product_category' 'new' %}">New</a>
                                    </li>
                                    <li class="dropdown-submenu-item">
                                        <a href="#">Functions</a>
                                        <div class="submenu-item-dropdown">
                                            <ul>
                                                {% for category in product_categories %}
                                                    <li>
                                                        <a class="submenu-item" href={% url 'product_category' category.lower %}>
                                                            {{ category }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-submenu-item">
                                        <a href="#">Brands</a>
                                        <div class="submenu-item-dropdown">
                                            <ul>
                                                {% for brand in product_brands %}
                                                    <li>
                                                        <a class="submenu-item" href={% url 'product_subcategory' 'brand' brand.lower %}>
                                                            {{ brand }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stories' %}" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item dropbtn">
                            <a class="nav-link" href="#">About</a>
                            <div class="dropdown-content">
                                <ul>
                                    <li>
                                        <a href="{% url 'about_company' %}">indahliving</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about_commitment' %}">our commitment</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about_designer' %}">our designers</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about_us' %}">contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </nav>
    </header>