{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron custom-jumbotron">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for product in product_list %}
                <a href="{% url 'product_detail' product.id %}" class="carousel-item product-carousel {% if forloop.counter == 1 %}active{% endif %}"
                style="background-image: url('{{ product.image.url }}')">
                </a>
            {% endfor %}
          </div>
        </div>
    </div>

    <div class="wrapper-about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 indahliving-about-section">
                <div class="about-content">
                    {{ home_body.text | safe }}
                    <br>
                    <a class="btn black" href="http://www.ethnicraft.com//about/">Find out more</a>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="wrapper-wide">
        {% for highlight in highlights %}
            <div class="container wrap-highlight">
                <div class="row justify-content-center">
                    <h4 class="section-title">
                        <span class="small">{{ highlight.title }}</span>
                    </h4>
                </div>
                <div class="row justify-content-center">
                    <h3 class="section-subtitle">{{ highlight.subtitle }}</h3>
                </div>
                <br>
                <div class="section-title-separator">
                    <div class="separator-x">X</div>
                </div>
                <br>
                <div class="owl-carousel ">
                    {% for image in highlight.product %}
                        <div class="item highlight-thumbnail" style="height: 300px">
                            <a href="{% url 'product_detail' image.id %}" style="background-image: url({{ image.url }})">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}