{% extends 'base.html' %}
{% load app_filters %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        {% if 'search' in request.path %}
            <br>
            <div class="row">
                <div class="col products-nav">
                <a href="{% url 'home' %}">
                    <span>Home</span>
                </a>
                <span> > </span>
                <a href="{% url 'product_index' %}">
                    <span>Products</span>
                </a>
                <span> > <b>SEARCH RESULTS FOR "{{ request|get_query_string }}"</b></span>
            </div>
            </div>
            <br>
        {% endif %}
        <div style="text-align: center">
            <ul class="list-inline">
                {% for subcategory in subcategories %}
                    <li class="list-inline-item btn-list-menu">
                        <a class="btn btn-dark" role="button" href=" {% url 'product_subcategory' category_name subcategory|custom_split %}">{{ subcategory }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br><br>
        <div class="row main-product">
            <div class="col-12 product-list">
                {% for product in product_list %}
                    <div class="col-sm-4 col-md-3 product-item">
                        <a href="{% url 'product_detail' product.id %}">
                                <div class="product-item-frame" style="background-image: url({{ product.product_image.first.image.url }})"></div>
                            <div class="product-item-name">
                                {{ product.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-9">
                <div class="row justify-content-center">
                    {% if product_list.has_other_pages %}
                        <ul class="pagination">
                            {% if product_list.has_previous %}
                                <li><a href="?page={{ product_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&lt;</a></li>
                            {% else %}
                                <li class="disabled"><a>&lt;</a></li>
                            {% endif %}

                            {% for i in product_list.paginator.page_range %}
                                {% if i <= product_list.number|add:2 and i >= product_list.number|add:-2 %}
                                    {% if product_list.number == i %}
                                        <li class="active"><a>{{ i }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if product_list.has_next %}
                                <li><a href="?page={{ product_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&gt;</a></li>
                            {% else %}
                                <li class="disabled"><a>&gt;</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}