{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col products-nav">
            <a href="{% url 'home' %}">
                <span>Home</span>
            </a>
            <span> > </span>
            <a href="{% url 'product_index' %}">
                <span>Products</span>
            </a>
            <span> > </span>
            <a href="{% url 'product_category' product.category %}">
                <span>{{ product.category }}</span>
            </a>
            <span> > <b>{{ product.name }}</b></span>
        </div>
    </div>
    <div class="row product-details">
        <div class="col-6">
            {% for img in product.product_image.all %}
                <img src="{{ img.image.url }}">
            {% endfor %}
        </div>
        <div class="col-6">
            <h2><b>{{ product.name }}</b></h2>
            <p>{{ product.description }}</p>
            <br><hr>
            <h4><b>PRODUCT INFORMATION</b></h4>
            <div class="col">
                <p>
                    <span><b>Product Code:</b> {{ product.code }}</span>
                </p>
                <p>
                    <span><b>Product Dimension:</b> {{ product.dimension }}</span>
                </p>
                <p>
                    <span><b>Product Features:</b> {{ product.features }}</span>
                </p>
                <p>
                    <span><b>Product Material:</b> {{ product.material }}</span>
                </p>
            </div>
            <br><hr>
            <h4><b>ALSO AVAILABLE IN</b></h4>
            <div class="col">
                <span><b>Other Colors:</b></span>
            </div>
            <br><hr>
            <div class="col">
                <span>Share: </span>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f" ></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://twitter.com/share?url={{ request.build_absolute_uri }}" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
{% endblock %}