{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-9">

            </div>
            <div class="col-3">

            </div>
        </div>

        <div class="row">
            <div class="col story-tag">
                <h1>Stories</h1>
            </div>
        </div>
        <div class="row story-list">
            {% for story in story_list %}
                <div class="col-4 story-thumb">
                    <a href="{% url 'story_detail' story.id %}">
                        {% if story.title_image != '' %}
                                <img src="{{ story.title_image.url }}">
                                <div class="story-title">
                                    <medium>{{ story.title }}</medium>
                                </div>
                        {% endif %}
                    </a>
                    <hr>
                    <p class="story-created">
                        <span class="far fa-calendar-alt"></span> {{ story.date_added|date:'F d, Y' }} |
                        <span class="fas fa-user-alt"></span> {{ story.author }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% if story_list.has_other_pages %}
                <ul class="pagination">
                    {% if users.has_previous %}
                        <li><a href="?page={{ story_list.previous_page_number }}">&lt;</a></li>
                    {% else %}
                        <li class="disabled"><a>&lt;</a></li>
                    {% endif %}

                    {% for i in story_list.paginator.page_range %}
                        {% if i <= story_list.number|add:2 and i >= story_list.number|add:-2 %}
                            {% if story_list.number == i %}
                                <li class="active"><a>{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if story_list.has_next %}
                        <li><a href="?page={{ story_list.next_page_number }}">&gt;</a></li>
                    {% else %}
                        <li class="disabled"><a>&gt;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}