{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ story.title }}</h1>
                {% if user.is_superuser %}
                    <a href={% url 'story_edit' story.id %}>[edit story]</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <small>Post created by: {{ story.author }}</small>
            </div>
        </div>
        <hr>
        <p>{{ story.body | safe }}</p>

        <div class="row gallery">
            {% if story.title_image != '' %}
                <div class="col-6">
                    <img src="{{ story.title_image.url }}">
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-start">
            <div class="col-4">
                <a href="javascript:history.back()" class="btn btn-secondary" role="button">Back</a>
            </div>
        </div>
    </div>
{% endblock %}