{% extends 'cms/index.html' %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <h1>Designer</h1>
        </div>
        <div class="row add-btn">
            <a href="{% url 'add_designer' %}" class="btn btn-primary" role="button">Add Designer</a>
        </div>
        <br>
        <div class="row">
            <div class="table-responsive">
                <table id="designerTable" class="table table-bordred table-striped">
                    <thead>
                        <th>No.</th>
                        <th>Name</th>
                        <th style="text-align: center">Edit</th>
                        <th style="text-align: center">Delete</th>
                    </thead>
                    <tbody>
                        {% for d in designers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ d.name }}</td>
                                <td style="text-align: center"><a href="{% url 'edit_designer' d.id %}"><button class="btn-table"><i class="fas fa-edit"></i></button></a></td>
                                <td style="text-align: center"><a href="{% url 'delete_designer' d.id %}"><button class="btn-table"><i class="fas fa-trash-alt"></i></button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#designerTable').DataTable( {
                "pagingType": "full_numbers"
            } );
        });
    </script>
{% endblock %}