{% extends 'cms/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>About Company Page</h1>
            </div>
        </div>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    {{ form.image_header|as_crispy_field}}
                    {{ form.media }}
                    {{ form.text|as_crispy_field }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="javascript:history.back()" class="btn btn-secondary" role="button">Cancel</a>
        </form>
    </div>
{% endblock %}