{% extends 'cms/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row"><br></div>
    <div class="row">
        <div class="col">
            <h1>{{ title }} Product</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>***Image with order number 3 will be used as carousel</h5>
        </div>
    </div>
    <hr>
    <form method="POST" action="" id=productForm data-subcategory-url="{% url 'ajax_load_subcategory' %}" enctype="multipart/form-data" style="padding-bottom: 20px">
      {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.name|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.code|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.dimension|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.color|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.material|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 mb-0">
            {{ form.features|as_crispy_field }}
          </div>
        </div>

        {{ formset.management_form }}
        {% for forms in formset %}
        <div class="row form-row form-images spacer">
            <div class="col-md-5 mb-0">
                <div class="input-group">
                    {{forms.image|as_crispy_field}}
                </div>
            </div>
            <div class="col-md-1 mb-0">
                <div class="input-group">
                    {{forms.order|as_crispy_field}}
                </div>
            </div>
            {% if forms.image.value is None %}
                <div class="input-group-append">
                    <button class="btn btn-success add-form-row">+</button>
                </div>
            {% endif %}
        </div>
        {% endfor %}

        {{ form.description|as_crispy_field }}
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.brand|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.category|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.subcategory|as_crispy_field }}
          </div>
        </div>
        Status: {{ form.is_active|as_crispy_field }}



        <button type="submit" class="btn btn-primary">Save</button>
        <a href="javascript:history.back()" class="btn btn-secondary" role="button">Cancel</a>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_category").change(function () {
          var url = $("#productForm").attr("data-subcategory-url");
          var categoryId = $(this).val();

          $.ajax({
            url: url,
            data: {
              'category': categoryId
            },
            success: function (data) {
              $("#id_subcategory").html(data);
            }
          });

        });
    </script>
    <script type='text/javascript'>
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function() {
            if ($(this).attr('name') !== undefined) {
                var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        })
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-images:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
        return false;
    }
    function deleteForm(prefix, btn) {
        var forms = $('.form-images');
        console.log($(forms.get(0)).find(':input'))
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-images').remove();
            var forms = $('.form-images');
            console.log($(forms.get(0)).find(':input'))
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<=formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-images:last', 'form');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
    </script>
</div>
{% endblock %}