{% extends 'cms/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row"><br></div>
    <div class="row">
        <div class="col">
            <h1>{{ title }} Designer</h1>
        </div>
    </div>
    <hr>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.name|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
              {{ form.image|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.description|as_crispy_field }}
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="javascript:history.back()" class="btn btn-secondary" role="button">Cancel</a>
    </form>
</div>

{% endblock %}