{% extends 'cms/index.html' %}

{% load crispy_forms_tags %}
{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row"><br></div>
        <div class="row">
            <div class="col">
                <h1>Brands</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table id="brandTable" class="table table-bordred table-striped">
                        <thead>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Edit</th>
                        </thead>
                        <tbody>
                            {% for brand in brands %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ brand }}</td>
                                    <td><a href="{% url 'edit_brand' brand.id %}"><button class="btn-table"><i class="fas fa-edit"></i></button></a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h2>{{ title }} brand</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-1 mb-0">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="javascript:history.back()" class="btn btn-secondary" role="button">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#brandTable').DataTable( {
                "pagingType": "full_numbers"
            } );
        } );
    </script>
{% endblock %}