{% extends 'cms/index.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Edit subcategory</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-3 mb-0">
                            {{ subcategory_form.category|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ subcategory_form.name|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="javascript:history.back()" class="btn btn-secondary" role="button">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}