{% extends 'cms/index.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Home Page Image Carousel</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table id="productTable" class="table table-bordred table-striped">
                        <thead>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Upload at</th>
                            <th style="text-align: center">Product Detail</th>
                            <th style="text-align: center">Show as Carousel</th>
                        </thead>
                        <tbody>
                            {% for p in products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.category }}</td>
                                    <td>{{ p.brand }}</td>
                                    <td>{{ p.date_added }}</td>
                                    <td style="text-align: center"><a href="{% url 'product_detail' p.id %}"><button class="btn-table"><i class="fas fa-edit"></i></button></a> </td>
                                    <td style="text-align: center">
                                        <input type="checkbox" {% if p.home_carousel == True %} checked {% endif %} class="statusProducts" data-id="{{ p.id }}" />
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#productTable').DataTable( {
                "pagingType": "full_numbers"
            } );
        } );
        $('.statusProducts').click((e) => {
            let url = "{% url 'edit_status_image_carousel' '000' 'x'%}";
            url = url.replace('000', e.target.dataset.id).replace('x', e.target.checked.toString());
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url,
                success: function (data, status) {
                    console.log(data)
                }
            })
        })
    </script>
{% endblock %}