{% extends 'cms/index.html' %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Home Page Highlight List</h1>
            </div>
        </div>
        <hr>
        <div class="row add-btn">
            <div class="col">
                <a href="{% url 'add_highlights' %}" class="btn btn-primary" role="button">Add Highlight</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table id="productTable" class="table table-bordred table-striped">
                        <thead>
                            <th>No.</th>
                            <th>Title</th>
                            <th>Sub Title</th>
                            <th style="text-align: center">Edit Highlight</th>
                            <th style="text-align: center">Delete Highlight</th>
                        </thead>
                        <tbody>
                            {% for h in highlights %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ h.title }}</td>
                                    <td>{{ h.sub_title }}</td>
                                    <td style="text-align: center"><a href="{% url 'edit_highlights' h.id %}"><button class="btn-table"><i class="fas fa-edit"></i></button></a> </td>
                                    <td style="text-align: center"><a href="{% url 'delete_highlights' h.id %}"><button class="btn-table"><i class="fas fa-trash-alt"></i></button></a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#productTable').DataTable( {
                "pagingType": "full_numbers"
            } );
        } );
    </script>
{% endblock %}