{% extends 'cms/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row"><br></div>
    <div class="row">
        <div class="col">
            <h1>{{ title }} Highlight</h1>
        </div>
    </div>
    <hr>
    <form method="post" id=productForm data-subcategory-url="{% url 'ajax_load_subcategory' %}" enctype="multipart/form-data" style="padding-bottom: 20px">
      {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.title|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.sub_title|as_crispy_field }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4 mb-0">
            {{ form.list_product|as_crispy_field }}
          </div>
        </div>
        {{ form.errors }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="javascript:history.back()" class="btn btn-secondary" role="button">Cancel</a>
    </form>
</div>
{% endblock %}