{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Indahliving</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{% static 'assets/styles/common.css' %}">
        <link rel="stylesheet" href="{% static 'assets/styles/config.css' %}">
        <link rel="stylesheet" href="{% static 'assets/styles/cms.css' %}">
        <!-- SCRIPT -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

{#        <script>#}
{#            $( document ).ready(function() {#}
{#                let h = window.innerHeight;#}
{#                $('main')[0].style.height = (h - 43) + 'px';#}
{#                $('#sidebar')[0].style.height = (h - 43) + 'px';#}
{#            });#}
{#            $( window ).resize(function() {#}
{#                let h = window.innerHeight;#}
{#                $('main')[0].style.height = (h - 43) + 'px';#}
{#                $('#sidebar')[0].style.height = (h - 43) + 'px';#}
{#            });#}
{#        </script>#}
    </head>
    <body>
        {% include 'cms/sidebar.html' %}

        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block content %}
            {% endblock %}
        </main>

    </body>
</html>