{% extends 'cms/index.html' %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Products</h1>
            </div>
        </div>
        <hr>
        <div class="row add-btn">
            <div class="col">
                <a href="{% url 'brand_index' %}" class="btn btn-primary" role="button">Add Brands</a>
                <a href="{% url 'category_index' %}" class="btn btn-primary" role="button">Add Category</a>
                <a href="{% url 'subcategory_index' %}" class="btn btn-primary" role="button">Add Subcategory</a>
                <a href="{% url 'add_product' %}" class="btn btn-primary" role="button">Add Products</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table id="productTable" class="table table-bordred table-striped">
                        <thead>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Brand</th>
                            <th>Upload at</th>
                            <th style="text-align: center">Edit</th>
                            <th style="text-align: center">Status</th>
                            <th style="text-align: center">New</th>
                        </thead>
                        <tbody>
                            {% for p in products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.category }}</td>
                                    <td>{{ p.subcategory }}</td>
                                    <td>{{ p.brand }}</td>
                                    <td>{{ p.date_added }}</td>
                                    <td style="text-align: center"><a href="{% url 'product_edit' p.id %}"><button class="btn-table"><i class="fas fa-edit"></i></button></a> </td>
                                    <td style="text-align: center">
                                        <input type="checkbox" {% if p.is_active == True %} checked {% endif %} class="statusProducts" data-id="{{ p.id }}" />
                                    </td>
                                    <td style="text-align: center">
                                        <input type="checkbox" {% if p.new == True %} checked {% endif %} class="newProducts" data-id="{{ p.id }}" />
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#productTable').DataTable( {
                "pagingType": "full_numbers"
            });
        } );
        $('.statusProducts').click((e) => {
            let url = "{% url 'product_activate' '000' 'x'%}";
            url = url.replace('000', e.target.dataset.id).replace('x', e.target.checked.toString());
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url
            })
        })
        $('.newProducts').click((e) => {
            let url = "{% url 'product_new' '000' 'x'%}";
            url = url.replace('000', e.target.dataset.id).replace('x', e.target.checked.toString());
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url
            })
        })
    </script>
{% endblock %}