{% load static %}

<nav class="col-md-2 bg-light sidebar">
    <div class="logo-indahliving">
        <img src="{% static 'assets/images/logo_top.jpg' %}" alt="indahliving" height="64"/>
    </div>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="list-group-item btn list-item collapsed" data-toggle="collapse" href="#listBrands" role="button" aria-expanded="false" aria-controls="collapseExample">
                <a>Homepage</a>
                <i class="fa"></i>
                <ul class="collapse sub-list-item" id="listBrands">
                    <li>
                        <a href="{% url 'home_image_carousel' %}">Carousel</a>
                    </li>
                    <li>
                        <a href="{% url 'home_body' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'home_list_highlights' %}">Highlight</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <a href="{% url 'cms_product' %}">Product</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'add_catalog' %}">Catalogs</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'cms_story' %}">Story</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'edit_about_company' %}">About Company</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'edit_about_commitment' %}">About Commitment</a>
            </li>
            <li class="list-group-item">
                <a href="{% url 'cms_designer_list' %}">About Designer</a>
            </li>
        </ul>
    </div>
</nav>