{% extends 'cms/index.html' %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Stories</h1>
            </div>
        </div>
        <hr>
        <div class="row add-btn">
            <div class="col">
                <a href="{% url 'add_story' %}" class="btn btn-primary" role="button">Add Stories</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table id="storyTable" class="table table-bordred table-striped">
                        <thead>
                            <th>No.</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Upload at</th>
                            <th style="text-align: center">Edit</th>
                            <th style="text-align: center">Status</th>
                        </thead>
                        <tbody>
                            {% for s in stories %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ s.title }}</td>
                                    <td>{{ s.author }}</td>
                                    <td>{{ s.date_added }}</td>
                                    <td style="text-align: center"><a href="{% url 'story_edit' s.id %}"><button class="btn-table"><i class="fas fa-edit"></i></button></a></td>
                                    <td style="text-align: center">
                                        <input type="checkbox" {% if s.is_active == True %} checked {% endif %} class="statusStory" data-id="{{ s.id }}" />
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#storyTable').DataTable( {
                "pagingType": "full_numbers"
            } );
        });
        $('.statusStory').click((e) => {
            let url = "{% url 'story_activate' '000' 'x'%}";
            url = url.replace('000', e.target.dataset.id).replace('x', e.target.checked.toString());
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url,
                success: function (data, status) {
                    console.log(data)
                }
            })
        })
    </script>
{% endblock %}